body{
    margin: 0;
}

.dark{
    background: #222;
    font-family: Consolas,Menlo,Courier,monospace;
    font-size: 12px;
    margin: 0;
    color: #f1f1f1;
}

/* font style */
.dark .bolder {
    font-weight: bolder;
}

/* foreground */
.dark .fg-black {
    color: #4E4E4E;
}
.dark .fg-red {
    color: #FF6C60;
}
.dark .fg-green {
    color: #0A0;
}
.dark .fg-yellow {
    color: #FFFF91;
}
.dark .fg-blue {
    color: #96CBFE;
}
.dark .fg-purple {
    color: #FF73FD;
}
.dark .fg-cyan {
    color: cyan;
}
.dark .fg-white {
    color: #f1f1f1;
}

/* background */
.dark .bg-black {
    background-color: #4E4E4E;
}
.dark .bg-red {
    background-color: red;
}
.dark .bg-green {
    background-color: green;
}
.dark .bg-yellow {
    background-color: yellow;
}
.dark .bg-blue {
    background-color: blue;
}
.dark .bg-purple {
    background-color: purple;
}
.dark .bg-cyan {
    background-color: cyan;
}
.dark .bg-white {
    background-color: white;
}